

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Jaini&display=swap');



*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    text-decoration: none;
    list-style-type: none;
    
}

:root{

    /*--main-color: #ff8716;*/
    /*--main-color: rgb(124, 67, 177);*/
    --main-color: #7C4DFF;
    --p-color: #7b7b7b;
    --bg-color: #f3f3f3;
    --white-color: #fff;
    --heading-color: #121416;
    --border-color: #e5e5e5d5;
    --sale-color: #e51a1a;


}

body{

    padding-top: 180px;
    
}

span{

    color: var(--main-color)
}

p{

    color: var(--p-color)
}

h1 h2 h3 h4 h5 h6{

    color: var(--heading-color);
    font-family: "DM Sans" , sans-serif;
}



input,select,button{

    border: none;
    outline: none;
}

.container{

    width: 90%;
    margin: 0 auto;
    max-width: 1350px;
    
}

@media (max-width: 1350px) {
    
    .container{

        width: 90%;
    }
}


/******************* header ************************/




header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    box-shadow: 5px 8px 8px #d1d1d13b;
    z-index: 1000;
}

header .top-header .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

header .top-header .logo{

    width: 180px;
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
    letter-spacing: 5px;
    font-family: "Jaini", system-ui;
    
}

/*header .top-header .logo img{

    width: 100%;
}*/

header .top-header .search_box{

    width: 610px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--bg-color);

}

header .top-header .search_box input{

    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    background-color: var(--bg-color);
}


header .top-header .search_box .select_box{

    position: relative;
}

header .top-header .search_box .select_box::after{

    content: '';
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
    width: 1px;
    height: 50%;
    background-color: #b9b9b9;

}

header .top-header .search_box .select_box select{

    height: 55px;
    width: 190px;
    background-color: var(--bg-color);
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

header .top-header .search_box .select_box select option{

    font-size: 15px;
}

header .top-header .search_box button{

    height: 55px;
    width: 60px;
    background-color: var(--main-color);
    font-size: 18px;
    cursor: pointer;
}

header .top-header .search_box button i{

    color: var(--white-color)
}

header .top-header .header_icons{

    display: flex;
    gap: 30px
}

header .top-header .header_icons .icon{

    position: relative;
    cursor: pointer;

}

header .top-header .header_icons .icon i{

    font-size: 24px;
    
}

header .top-header .header_icons .icon .count{

    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
}

header .bottom-header{

    border-top: 1px solid var(--border-color);
    
    
}

header .bottom-header .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .bottom-header nav{

    display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
    
    
}

header .bottom-header .category_nav{

    width: 220px;
    height: 100%;
    position: relative;
}

header .bottom-header .category_nav .category_btn{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 0;
    padding: 0 15px;
    cursor: pointer;
    

}

header .bottom-header .category_nav .category_btn p{

    color: var(--white-color);
    font-weight: 600;
    font-size: 15px;
}


header .bottom-header .category_nav .category_btn i{


    color: var(--white-color);
}


header .bottom-header .category_nav .category_nav_list{


    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #999;
    border-top: 0;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.3s ease-in-out;
    background-color: var(--white-color);
    
    
}

header .bottom-header .category_nav .category_nav_list.active{

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


header .bottom-header .category_nav .category_nav_list a{

    padding: 14px 10px;
    border-bottom: 1px solid var(--border-color);
    font-size: 14px;
    color: var(--heading-color);
}

header .bottom-header .category_nav .category_nav_list a:last-child{

    border-bottom: 0;
}

header .bottom-header .category_nav .category_nav_list a:hover{

    background-color: #d0d0d0;
}




header .bottom-header .nav_links{

    display: flex;
    gap: 35px;
}

header .bottom-header .nav_links li a{

    color: var(--heading-color);
    transition: all 0.3s ease-in-out;
}

header .bottom-header .nav_links li a:hover{


    color: var(--main-color);
}

header .bottom-header .nav_links li.active a{

    color: var(--main-color)
}

header .bottom-header .login_signup{

    display: flex;
    align-items: center;
    gap: 20px;
}

header .bottom-header .login_signup .btn{

    padding: 10px 18px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    color: var(--white-color);
    background-color: var(--main-color);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

header .bottom-header .login_signup .btn:hover{

    scale: 1.1;
}





/******************** slide ************************/

.slider{

    position: relative;
    
    
    
}

.slider .container{

    display: flex;
    justify-content: space-between;
    
}

.slider .container .banner_2{

    width: 23%;
    object-fit: cover;
}



.slider .container .banner_2 a img{

    width: 100%;
    
} 


.slider .container .slide-swp{

    width: 75%;
    overflow: hidden;
    position: relative;
    
}

.slider .container .slide-swp img{

    width: 100%
}

.swiper-wrapper{

    height: auto !important
}


.slider .container .slide-swp .swiper-pagination span{

    background-color: var(--main-color);
    margin-bottom: 10px;
    
    
    

}






/*************** banner_4 *********************/

.banner_4{

    margin: 50px 0;
}

.banner_4 .container{

    display: flex;
    justify-content: space-between;
}

.banner_4 .container .box{

    
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 10px;
    width: 24%;
    background: url(../img/bg_banner3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.banner_4 .container .box img{

    width: 100px;
    transition: all 0.3s ease-in-out;
}

.banner_4 .container .box:hover img{

    scale: 1.1
}

.banner_4 .container .box h5{

    font-size: 16px;
}

.banner_4 .container .box .sale{

    display: flex;
    align-items: center;
    gap: 5px;
    margin: 7px 0;
}

.banner_4 .container .box .sale span{

    font-size: 25px;
    font-weight: bold;
}

.banner_4 .container .box .sale h6{

    font-size: 14px;
    font-weight: bold;
}

.banner_4 .container .box .link-btn{

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}


/************** product card style*****************/
.mySwiper{

    overflow: hidden;
}
.product{

    background-color: #fff;
    padding: 20px 20px;
    box-shadow: 5px 5px 10px #2602f03b;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    position: relative;
}

.product .sale-precent{

    position: absolute;
    top: 0;
    right: 0;
    background-color: #ed0505;
    color: var(--white-color);
    padding: 4px 10px;
    font-size: 13px;
}

.product .img_product{

    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.product .img_product img{

    transition: all 0.3s ease-in-out;
    width: 100%
}

.product .img_product:hover img{

    scale: 1.1
}

.product .product_name{

    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product .product_name a{

    color: var(--heading-color);
    
}

.product .product_name a:hover{

    text-decoration: underline;
}

.stars{

    margin-bottom: 10px;
}

.stars i{

    color: var(--main-color);
    font-size: 14px;
}

.price{

    display: flex;
    align-items: center;
    gap: 12px;
}

.price p{

    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}

.price .old_price{

    color: var(--p-color);
    text-decoration: line-through;
    font-size: 15px;
    font-weight: normal;
}


.product .icons{

    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.product .icons .icon_product{

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product .icons .icon_product i{

    font-size: 14px;
}

.product .icons .icon_product:hover{

    background-color: var(--main-color);
    color: var(--white-color)
}

.product .icons .btn_add_cart{

    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--main-color);
    
}

.product .icons .btn_add_cart i{

    pointer-events: none;
}



.product .icons .btn_add_cart.active{

    background-color: transparent !important;
    color: var(--heading-color);
    pointer-events: none;
}

.product .icons .btn_add_cart.active i{

    color: var(--main-color)
}

.product .icons .btn_add_cart:hover{

    scale: 1.05;
    background-color: rgba(0, 0, 139, 0.733);
}



/*********** start slide**************/



.slide{

    margin-bottom: 70px;
}

.top_slide{

    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main-color);
}


.top_slide h2{

    position: relative;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 18px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content
}

.top_slide h2::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    background-color: #fff;
    border-bottom: 20px solid rgba(0, 0, 139, 0.733);
}


.slide .container{

    position: relative;
}

.slide .container .mySwiper{

    padding: 10px 0;
}

.slide .container .mySwiper .btn_swip{

    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--bg-color);
    color: var(--heading-color);
    font-weight: bold;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    border: 1px solid var(--border-color);
    
}

.slide .container .mySwiper .btn_swip::after{

    font-size: 12px;
}

.slide .container .mySwiper .swiper-button-prev{

    left: calc(100% - 80px)
}



/******************** banners  banners 2 ***************************/


.banners{

    margin: 50px 0;
}

.banners .banner_boxes{

    display: flex;
    justify-content: space-between;
    
} 

.banners .banner_boxes .box{

    width: 49%;
}

.banners .banner_boxes .box img{

    width: 100%;
    transition: all 0.3s ease-in-out;
}

.banners .banner_boxes.banner_3_img .box{

    width: 32%
}


/**************** footer*******************/

footer{

    background-color: var(--heading-color);
    
}

footer .container{

    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

footer .container .big_row{

    width: 30%;
}

footer .container .footer_logo{

    font-size: 30px;
    color: var(--main-color);
    letter-spacing: 5px;
}

footer .container .big_row .footer_pargraph{

    width: 90%;
    color: #b1b1b1;
    font-size: 14px;
    line-height: 1.5;
    margin: 15px 0;
}

footer .container .big_row .fooetr_icons{

    display: flex;
    gap: 10px;
}

footer .container .big_row .fooetr_icons a{

    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 18px;
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
}

footer .container .big_row .fooetr_icons a:hover{

    top: -5px;
    background-color: rgb(106, 22, 185)
}

footer .container .row{

    width: 22%
}

footer .container .row h4{

    color: var(--white-color);
    font-size: 18px;
    margin-bottom: 18px;
}

footer .container .row .links{

    display: flex;
    flex-direction: column;
    gap: 7px
}

footer .container .row .links a{

    
    color: #b1b1b1;
    font-size: 14px;
    position: relative;
    left: 0;
    transition: all 0.3s  ease-in-out;
}

footer .container .row .links a:hover{

    left: 8px;
    color: var(--main-color);
    
}

footer .container .row .links a i{

    font-size: 14px;
    margin-right: 5px;
    color: var(--main-color);
}

footer .bottom_footer{

    background-color: #1d1f22;
}

footer .bottom_footer .container{

    align-items: center;
    padding: 5px 0;
}

footer .bottom_footer p{

    color: var(--white-color);
}

footer .bottom_footer .payment_img{

    width: 350px;
    text-align: right;
}


/**************** cart**********************/

.cart{

    position: fixed;
    top: 0;
    right: -350px;
    bottom: 0;
    width: 350px;
    background: var(--white-color);
    border-left: 1px solid var(--border-color);
    z-index: 1100;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    
}

.cart.active{

    right: 0;
    
}

.cart .top_cart{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .top_cart .close_cart i{

    cursor: pointer;
    font-size: 35px;
    color: var(--heading-color);
    transition: all 0.3s ease-in-out;
}

.cart .top_cart .close_cart i:hover{

    color: #e51a1a;
}

.cart .top_cart h3{

    font-size: 18px;
}

.cart .top_cart h3 span{

    color: var(--heading-color);
}

.cart .items_in_cart{

    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    height: 100%;
    margin-block:20px;
    overflow-y: auto;
}

.cart .items_in_cart .item_cart{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 125px;
    border-bottom: 1px solid var(--border-color);
    

}

.cart .items_in_cart .item_cart:last-child{

    border-bottom: 0;
    margin-bottom: 0;
}

.cart .items_in_cart .item_cart img{

    width: 80px;
    
}

.cart .items_in_cart .item_cart h4{

    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.cart .items_in_cart .item_cart .delete_item i{

    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    
}

.cart .items_in_cart .item_cart .delete_item i:hover{

    color: #e51a1a
}

.cart .items_in_cart .item_cart .delete_item{

    background-color: transparent;
}


.cart .items_in_cart .item_cart .quantity_control{


    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.cart .items_in_cart .item_cart .quantity_control span{

    font-size: 15px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart .items_in_cart .item_cart .quantity_control button{

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.cart .bottom_cart .total{

    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart .bottom_cart .total .price_cart_total{

    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

.cart .bottom_cart .button_cart{

    display: flex;
    gap: 20px;
}


.cart .bottom_cart .button_cart .btn_cart{

    text-transform: uppercase;
    width: 100px;
    background-color: var(--main-color);
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--white-color);
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart .bottom_cart .button_cart .btn_cart:hover{

    scale: 1.05;
}

.cart .bottom_cart .button_cart .trans_bg{

    background-color: transparent;
    color: var(--heading-color);
}

.close_menu{

    display: none;
}

.open_menu{

    display: none;
}

header .bottom-header .nav_links p{

    display: none;
}


/****************RESPONSIVE**********************/

@media (max-width: 1100px) {

    body{

        padding-top: 220px;
    }

    

    header .top-header .container{

        flex-wrap: wrap;
    }

    header .top-header .search_box{

        order: 3;
        width: 80%;
        margin: 20px auto 0;
    }

    header .top-header .logo{

        width: 140px;
        font-size: 30px;
    }

    header .top-header .search_box .select_box select{

        width: 200px
    }

    header .top-header .search_box input{

        width: calc(100% - 200px )
    }

    header .bottom-header .nav_links{

        position: fixed;
        top: 0;
        left: -350px;
        
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        width: 350px;
        padding: 50px 0;
        border-right: 1px solid #b5b5b596;
        border-bottom: 1px solid #b5b5b596;
        transition: all 0.5s ease-in-out;
    }

    header .bottom-header .nav_links.active{

        left: 0
    }



    header .bottom-header .nav_links li{

        font-size: 14px;
        height: auto;
        box-shadow: 5px 8px 8px #d1d1d13b;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    

    .close_menu{

        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
    }

    .open_menu{

        display: block;
        font-size: 25px;
    }


    
    .open_menu i{

        color: var(--main-color);
        border: 1px solid var(--main-color);
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 3px;
    }

    header .bottom-header .nav_links p{

        display: block;
        font-size: 25px;
        font-weight: bold;
        color: var(--main-color);
        border-bottom: 1px solid var(--border-color);
        padding: 10px 70px;
        letter-spacing: 5px;
        font-family: "Jaini", system-ui;
    }

    header .bottom-header .category_nav{

        width: auto
        
    }

    header .bottom-header .category_nav .category_btn p{

        font-size: 13px;
        margin: 0 10px;
    }

    header .bottom-header nav{

        gap: 20px;
        height: 47px
    }

    .banner_4 .container .box{

        width: 48%;
        margin-bottom: 15px;
        justify-content: space-around;
    }

    .banner_4 .container{

        flex-wrap: wrap;
    }
    
}

@media (max-width: 1000px) {

    .slider .container .banner_2{

        display: none;
    }

    .slider .container .slide-swp{

        width: 100%;
        margin: auto;
        
    }

    .banners .banner_boxes.banner_3_img .box{

        width: 45%;
        margin: auto;
        margin-bottom: 15px;

    }

    .banners .banner_boxes{

        flex-wrap: wrap;
    }


    footer .container .big_row{

        width: 40%;
        margin-bottom: 20px;
    }


    footer .container .row{

        width: 30%;
        margin-bottom: 20px;
    }

    footer .container{

        flex-wrap: wrap;
    }

    
    
}

@media (max-width: 800px){

    header .bottom-header .category_nav{

        display: none;
    }

    header .top-header .search_box .select_box select option{

        font-size: 10px;
    }

    header .bottom-header .login_signup{

        font-size: 12px;
        gap: 10px
    }
    .top_slide h2{

        font-size: 16px;
        padding: 10px 20px;
    }


    .product .product_name a{

        font-size: 14px;
    }

    header .bottom-header .login_signup .btn{

        padding: 10px;
        gap: 5px
    }

    header .bottom-header .login_signup .btn i{

        font-size: 12px;
    }

    header .top-header .search_box .select_box select{

        font-size: 14px;
    }

    header .top-header .search_box button i{

        font-size: 16px;
    }

    .cart .top_cart h3{

        font-size: 16px;
    }

    .cart .top_cart .close_cart i{

        font-size: 25px;
    }

    
    .cart .items_in_cart .item_cart h4{

        font-size: 12px;
    }

    .cart .items_in_cart .item_cart p{

        font-size: 14px;
    }

    .cart .items_in_cart .item_cart .quantity_control span{

        font-size: 13px;
    }

    .cart .items_in_cart .item_cart .delete_item i{

        font-size: 18px;
    }

    .cart .items_in_cart .item_cart .quantity_control button{

        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .cart .bottom_cart .total p{

        font-size: 16px;
    }

    .cart .bottom_cart .total .price_cart_total{


        font-size: 16px;
    }

    .cart .bottom_cart .button_cart .btn_cart{

        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .banner_4 .container .box h5{

        font-size: 14px;
    }

    .banner_4 .container .box .sale p{

        font-size: 14px;
    }



    .banner_4 .container .box .sale span{

        font-size: 20px;
    }


    .price p{

        font-size: 16px;
    }

    .product .icons .btn_add_cart{

        font-size: 12px;
        padding: 0px 5px;
    }

    .product .stars i{

        font-size: 12px;
    }


    .banners .container .banner_2_img{

        flex-direction: column;
        gap: 20px
        
    }

    .banners .banner_boxes .box{

        width: 100%;
    }

    footer .container .big_row{

        width: 50%;
        margin-bottom: 30px;
    }


    footer .container .row{

        width: 50%;
        margin-bottom: 30px;
    }

    footer .bottom_footer p{

        font-size: 14px;
    }

    footer .bottom_footer .payment_img{

        width: 250px;
        
    }

}

@media (max-width: 768px) {

    header .top-header .logo{

        font-size: 25px;
    }

    header .top-header .search_box{

        margin: 5px auto 0;
        border-radius: 3px;
        overflow: hidden;
        width: 100%;
    }

    header .bottom-header .login_signup .btn{

        border-radius: 3px;
    }

    header .top-header .search_box input{

        height: 40px;
        width: 100%;
        padding: 5px 0 5px 10px
    }

    header .top-header .search_box button{

        height: 40px;
        width: 40px;
        padding: 0 10px;
        margin-left: auto;
    }

    header .top-header .search_box .select_box{

        height: 40px
    }

    header .top-header .search_box .select_box select{

        height: 40px;
    }

    
    
    header .top-header .search_box .select_box select{

        width: 100px;
        font-size: 10px;
    }

    header .top-header .search_box .select_box input{

        width: calc(100% - 100px)
    }

    header .top-header .search_box input::placeholder{

        font-size: 10px;
    }

    header .top-header .search_box .select_box select option{

        font-size: 10px;
    }

    header .bottom-header .nav_links{

        width: 70%;
        left: -70%;
    }

    .close_menu{

        
        top: 20px;
        right: 20px;
        font-size: 25px;
    }

    .cart{

        
        right: -70%;
        bottom: 0;
        width: 70%;
        background: var(--white-color);
        border-left: 1px solid var(--border-color);
        z-index: 1100;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.5s ease-in-out;
        
    }

    .cart .items_in_cart .item_cart img{

        width: 60px
    }

    header .top-header .header_icons .icon .count{

        height: 18px;
        width: 18px;
        line-height: 18px;
        font-size: 9px;
    }


    .banner_4 .container .box{

        width: 100%
    }

    .banners .banner_boxes.banner_3_img .box{

        width: 100%
    }


    .top_slide h2{

        font-size: 14px;
        padding: 7px 15px;
        
    }

    .top_slide h2 i{

        margin-left: 10px;
    }

    .top_slide h2::before{

        border-left: 15px solid transparent;
        
    }

    .slide .container .mySwiper .btn_swip{

        width: 27px;
        height: 27px;
        line-height: 27px;
        font-size: 10px;
    }

    .product .sale-precent{

        padding: 4px 7px;
        font-size: 10px;
    }

    .product .icons .btn_add_cart{

        font-size: 10px;
    }

    

    .product .icons .icon_product{

        width: 30px;
        height: 30px
        
    }

    .product{


    
    padding: 5px 5px 10px 5px;
    
    }

    .product .img_product{

        padding: 0;
    }

    .product .stars{

        margin-bottom: 5px;
    }

    .product .product_name a{

        font-size: 12px;
        margin-bottom: 0px;
    }

    


    footer .container .footer_logo{

        font-size: 25px;
        font-family: "Jaini", system-ui;
    }

    footer .container .row h4{

        font-size: 14px;
    }
    footer .container .row .links a,
    footer .container .big_row .footer_pargraph{

        font-size: 12px;
    }

    footer .container .big_row .fooetr_icons a{

        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }

    footer .container .row .links a i{

        font-size: 12px;
    }

    footer .bottom_footer p{

        font-size: 12px;
    }

    footer .bottom_footer .container{

        flex-direction: column;
        
    }
    
}



/*************************** login - signup - contact******************************/
.container-input{

    display: flex;
    justify-content: center;
    margin: 150px 0;
    

}

.container-input .form{

    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 15px;
    /* background-color: #eee; */
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #7b7b7b;
}

.container-input .form h1{

    text-align: center;
    color:rgb(106, 22, 185);
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}



.container-input .form input{

    width: 100%;
    padding: 0 5px;
    height: 30px;
    border-radius: 3px;
    background-color: #eeeeee63;
}

.container-input .form a{

    text-align: right;
    font-size: 12px;
    color: #1d1f22;
}

.container-input .form button{

    height: 30px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color:rgb(106, 22, 185);
    font-weight: bold;
    /* background-color: #eee; */
    /* box-shadow: 0 0 2px 1px #0000006b; */
}

.container-input .form span{

    text-align: right;
    font-size: 14px;
    color: #121416;
    margin-top: 20px;
}

.container-input .form textarea{

    height: 130px;
    resize: none;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #eeeeee63;
}



@media (max-width:768px) {

    .container-input .form{

        width: 90%;
        
    }

    .container-input{

        margin: 0px 0px 50px 0px
    }

    .container-input .form label{

        font-size: 12px;
        color: #999;
    }

    .container-input .form h1{

        font-size: 20px;
        
    }
    .container-input .form textarea::placeholder,
    .container-input .form input::placeholder{

        font-size:11px ;
        color: #999
    }

    .container-input .form span{

        font-size: 12px;
        color:#121416
    }

    
    
}



/************************ checkout **************************/
.checkout-section{

    padding: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.checkout-section .left{

    width: 45%
}


.checkout-section .address{

    
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #eee;
    padding-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
    
}

.checkout-section .address h3{

    background-color: #7C4DFF;
    padding: 10px;
    color: #fff
    
}

.checkout-section .address input{

    height: 30px;
    padding: 0 5px;
    margin: 0 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    
}

.checkout-section .address input:focus{

    border: 1px solid #7c4dff6c
}

.checkout-section .address label{

    margin: 0 15px;
    color:#7b7b7b
}


.checkout-section .left .coupon-code{

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #eee;
    padding-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
    gap: 10px;
    
}

.checkout-section .left .coupon-code h3{

    background-color: #7C4DFF;
    padding: 10px;
    color: #fff;
}

.checkout-section .left .coupon-code input{

    height: 30px;
    margin: 0 15px;
    padding: 0 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    
    
}

.checkout-section .left .coupon-code input:focus{

    border: 1px solid #7c4dff6c
}

.checkout-section .left .coupon-code label{

    margin: 0 15px;
    color:#7b7b7b
}


.checkout-section .checkout-items{

    width: 45%;
    background-color: #eee;
    padding: 20px;
    height: fit-content
    
}

.checkout-section .checkout-items .products{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: none;
    border: none;
    margin: 50px 0;
    
    
    

}

.checkout-section .checkout-items  h3{

    margin-bottom: 15px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    

}

.checkout-section .checkout-items .products img{

    width: 150px
}

.checkout-section .checkout-items .products .product-info .product-name{

    margin-bottom: 15px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.checkout-section .checkout-items .product-total{

    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bbb;
    padding-top: 10px;
    margin-bottom: 20px;
}


.checkout-section .checkout-items button{

    width: 100%;
    background-color: #7C4DFF;
    padding: 7px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: 1px solid #7C4DFF;
    transition: all 0.3s ease-in-out;

}

.checkout-section .checkout-items button:hover{

    background-color: transparent;
    color: #000;
    
}


@media (max-width: 900px) {

    .checkout-section .checkout-items .products img{

        width: 100px
    }
    
}

@media (max-width: 768px) {
    
    .checkout-section{

        flex-direction: column;
        
    }

    .checkout-section .checkout-items{

        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .checkout-section .left{

        width: 70%;
        margin: 0 auto;
    }

    .checkout-section .address h3{

        font-size: 14px;
    }

    .checkout-section .address label{

        font-size: 12px;
    }

    .checkout-section .address input::placeholder{

        font-size: 11px;
    }

    .checkout-section .left .coupon-code input::placeholder{

        font-size: 11px;
    }

    .checkout-section .left .coupon-code h3{

        font-size: 14px;
    }

    .checkout-section .left .coupon-code label{

        font-size: 12px;
    }

    .checkout-section .checkout-items h3{

        font-size: 14px;
    }

    .checkout-section .checkout-items .products .product-info .product-name{

        font-size: 12px;
        margin-bottom: 10px;
        font-weight: bold;
        color:#1d1f22
    }

    .checkout-section .checkout-items .products .product-info .product-price{

        font-size:12px ;
    }

    .checkout-section .checkout-items .products img{

        width: 80px
    }

    .checkout-section .checkout-items .products{

        margin: 20px 0;
        
    }

    .checkout-section .checkout-items {

        order: 1
    }

    .checkout-section .left{

        order: 2
    }




    .checkout-section .checkout-items .product-total p{

        font-size: 14px;
    }

    .checkout-section .checkout-items .product-total span{

        font-size: 14px;
    }

    .checkout-section .checkout-items button{

        font-size: 14px;
    }


}


@media (max-width: 500px) {

    .checkout-section .checkout-items{

        width: 100%;
        
    }

    .checkout-section .left{

        width: 100%;
        
    }
    
}



/******************* products **********************/

.products .product-img{

    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.products .product-img .product-tibes{

    display: flex;
    flex-direction: column;
    gap: 15px
}

.products .product-img .product-target img{

    width: 100%;
    height: 300px;
    
    
}



.products .product-img .product-tibes img{

    width: 100px;
    cursor: pointer;
    
}

.product-section .products{

    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 50px 0;
    /* box-shadow: 0 0 2px 2px #bbb; */
    border-radius: 3px;
    padding: 20px 40px;
    background-color: #eee;
    /* background-color: #7b7b7b; */
    

}

.product-section .product-info{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    /* background-color: #1d1f22; */
}

.product-info h1{

    color: var(--main-color)
}

.product-section .product-info p{

    color:#121416;
    font-weight: bold;
}

.product-section .product-info span{

    color: #bbb;
    font-weight: normal;
}

.product-section .product-info .old-price{

    text-decoration: line-through;
}

.product-section .product-info .price{

    color: #7C4DFF
}

.product-section .product-info .in-stock{

    color: #7C4DFF;
    font-weight: bold;
}



@media (max-width: 900px) {
    
    .products .product-img{

        width: 45%
    }

    .product-info h1{

        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .product-section .products{

        flex-direction: column;
        gap: 30px;
        padding: 20px;
        margin: 0 0 50px 0
    }

    .products .product-img{

        width: 70%;
        margin: 0 auto;
    }

    .product-section .product-info{

        width: 100%
    }
}


@media (max-width: 500px) {

    .products .product-img .product-tibes img{

        width: 50px
    }

    .products .product-img .product-target img{

        height: auto
    }

    .products .product-img{

        width: 100%;
        justify-content: space-around;
        padding: 0 20px;
    }

    .products .product-img .product-target{

        
        width:50%;
    }

    .products .product-img .product-tibes{

        width: 45%
    }

    .product-info h1{

        font-size: 15px;
    }

    .product-section .product-info{

        font-size: 12px;
    }

    .product-section .stars i{

        font-size: 12px;
    }
    
}














































































































































































































